# 상위 제외
/_references
/.vs
/.claude
/x64
/data/Meshes
/res-wip
/_extraTools

build.bat
CLAUD.md
CLAUDE.md
imgui.ini
PolarisTKDataEditor.vcxproj.user
/PolarisT.b2f3bdf9
cancel_options_research.md
binToJson.py
